[submodule "platform_docker/sample_tests/user_programs/yolo_ros"]
	path = platform_docker/sample_tests/user_programs/yolo_ros
	url = https://github.com/TeamSOBITS/yolo_ros.git
	branch = noetic-devel
[submodule "platform_docker/sample_tests/user_programs/Depth-Anything-V2"]
	path = platform_docker/sample_tests/user_programs/Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2.git
[submodule "platform_docker/sample_tests/user_programs/intball2_common"]
	path = platform_docker/sample_tests/user_programs/intball2_common
	url = https://github.com/TeamSOBITS/intball2_common.git
	branch = noetic-devel
